body, html, *{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5em 1em rgba(0,0,0,.1);
}
header .navbar{
    display: flex;
    gap: 50px;
}

header .navbar a{
    margin-left: auto;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

header .navbar a:hover{
    color: rgb(226, 193, 26);
}

header .navbar a.active{
    color: rgb(226, 193, 26);
}

header .logo img{
    height: 70px;
}

header .icon{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header .icon img{
    width: 30px;
    height: 30px ;
}

.container {
    width: 1200px;
	margin: 0 auto;
}

.banner{
    width: 100vw;
    margin-top: 80px;
    margin-left: calc(-50vw + 50%);
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}



